[run]
omit =
    # omit this single file
    app/backend_pre_start.py
    app/crud/base.py
    app/crud/crud_lesson.py
    app/crud/crud_user.py
    app/crud/crud_subscription.py
    app/crud/crud_enroll_course.py